<p id="notice"><%= notice %></p>

<div class='post'>
  <div class='header'>
    <span>
      Avatar
    </span>
    <span class='username'>
      <%= @user.username %> 
    </span>
    <span>
        <%= form_for Follow.new(followed_id: @post.user_id) do |f| %>
        <%= f.hidden_field :followed_id %>
        <%= hidden_field_tag "follow[post_id]", @post.id %>
        <%= f.submit 'Follow' %>
      <% end %>
    </span>
  </div>
  <div class='body'>
    <% if @post.image? %>
      <%= image_tag @post.image.url %>
    <% end %>
    <%# hand rolled %>
    <%# if post.image.file_name %>
      <%#= image_tag "/posts/#{@post.image.file_name}" %>
      <%# end%> 
      
  </div>
  <div>
    <span><%= @post.likes.size %> likes</span>
    <span><%= @post.likers.to_a.uniq  %> likers</span>
    <span>Comment</span>
    <span>Bookmark</span>
  </div>
  <div class='description'>
    <%= @post.description %>
  </div>
  <div class='comments'>
    Comments
  </div>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
